<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel App</title>
        <script src="https://kit.fontawesome.com/eaa26a6eba.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <nav class="navbar">
                <i class="fas fa-plane-departure fa-3x" id="plane"></i>
            </nav>
        </header>
        <div class="row">
            <div class="columnA" id="col1">
                    <h1 class="topTitle" id="planner">Forecast Travel Planner</h1>
                    <div class="pre-container" id="pre-container">
                        <div class="inputs" id="inputs">
                            <p id="instructions">To help you plan an upcoming trip, enter you destination and departure date below.</p>
                            <h4 class="title1">Enter Destination</h4>
                            <input type="text" id="location">
                            <h4 class="title2">Departure Date</h4>
                            <input type="date" id="departure">
                            <br>
                            <button type="submit" id="submission">Submit</button>
                        </div>
                    </div>
                    <div class="inactive" id="post-container">
                        <p id="onWay1"></p>
                        <p id="countdown"></p>
                    </div>
            </div>
            <div class="inactive" id="col2">
                    <div class="results" id="resultSquare">
                        <img src="" alt="location_picture" class="inactive" id="localPic">
                        <div class="inactive" id="forecast">
                            <table class="weatherCharts" id="week1">
                                <tr>
                                    <th id="day1"></th>
                                    <th id="day2"></th>
                                    <th id="day3"></th>
                                    <th id="day4"></th>
                                    <th id="day5"></th>
                                    <th id="day6"></th>
                                    <th id="day7"></th>
                                </tr>
                                <tr>
                                    <td><i id="icon1"></i></td>
                                    <td><i id="icon2"></i></td>
                                    <td><i id="icon3"></i></td>
                                    <td><i id="icon4"></i></td>
                                    <td><i id="icon5"></i></td>
                                    <td><i id="icon6"></i></td>
                                    <td><i id="icon7"></i></td> 
                                </tr>
                            </table>
                            <table class="weatherCharts" id="week2">
                                <tr>
                                    <th id="day8"></th>
                                    <th id="day9"></th>
                                    <th id="day10"></th>
                                    <th id="day11"></th>
                                    <th id="day12"></th>
                                    <th id="day13"></th>
                                    <th id="day14"></th>
                                </tr>
                                <tr>
                                    <td><i id="icon8"></i></td>
                                    <td><i id="icon9"></i></td>
                                    <td><i id="icon10"></i></td>
                                    <td><i id="icon11"></i></td>
                                    <td><i id="icon12"></i></td>
                                    <td><i id="icon13"></i></td>
                                    <td><i id="icon14"></i></td> 
                                </tr>
                            </table>
                            <br>
                            <h2 class="inactive" id="message">Here's your two week forecast! <br> Have a nice trip!</h2>
                        </div>
                    </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-row">
                <div class="col-12">
                    <p id="copyright">Copyright 2021 ME's Travel App</p>
                </div>
            </div>
          </footer>
          <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>