body{
    background-color: aliceblue;
    margin: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.row{
    display: flex;
}

.columnA{
    width: 100vw;
    height: 88vh;
};

.column1{
    width: 50vw;
    height: 88vh;
};

.column2{
    width: 50vw;
    height: 88vh;
};

nav{
    height: 5%;
    background-color: rgb(48, 36, 206);
};

.topTitle{
    margin-left: 40%;
    width: 100%;
};

.topTitle2{
    margin-left: 80%;
    width: 100%;
}

footer{
    background-color:  rgb(48, 36, 206);
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 1%;
}

#plane{
    color: crimson;
}

#copyright{
   margin-top: 0%;
   color: crimson;

}

.results{
    border: 1px solid black;
    box-shadow: 0px 3px 19px #00000041;
    height: 60vh;
    width: 30vw;
    margin-top: 16.5%;
    margin-left: 15%;
    background-color: white;
}

.inputs{
    width: 100%;
    margin-left: 5%;
}

#pre-container{
    border: 1px solid black;
    box-shadow: 0px 3px 19px #00000041;
    height: 60vh;
    width: 65vw;
    margin-left: 17.5%;
    margin-top: 5%;
    background-color: white;
};

#post-container{
    border: 1px solid black;
    box-shadow: 0px 3px 19px #00000041;
    height: 60vh;
    width: 30vw;
    margin-left: 30%;
    margin-top: 8.5%;
    background-color: white;
};

.inactive{
   display: none;
};

.activated{
    width: 80%;
    height: 30%;
    margin-left: 10%;
    margin-top: 5%;
    box-shadow: 0px 3px 19px #00000041;
};

table, th, td {
    border: 1px solid black;
};

.tableOn {
    margin-left: 7.5%;
    margin-top: 5%;
};

#countdown{
    font-size: 40pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin-left: 5%;
};

#onWay1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    margin-left: 10%;
};

#instructions{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-align: center;
    margin-right: 10%; 
};

#location{
    font-size: x-large;
    margin-left: 30%;
};

#departure{
    font-size: x-large;
    margin-left: 35%;
};

.title1{
    margin-left: 34%;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
};

.title2{
    margin-left: 36%;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
};

#submission{
    margin-top: 5%;
    margin-left: 39.5%;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
};

.weatherCharts{
    box-shadow: 0px 3px 19px #00000041;
    width: 90%;
    font-size: 10px;
};

.icon{
    margin-left: 30%;
};

#message{
    margin-top: 5%;
    margin-left: 3%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
};

@media screen and (min-width: 1800px){

    #post-container{
        border: 1px solid black;
        box-shadow: 0px 3px 19px #00000041;
        height: 60vh;
        width: 30vw;
        margin-left: 30%;
        margin-top: 10%;
        background-color: white;
    };

    .results{
        border: 1px solid black;
        box-shadow: 0px 3px 19px #00000041;
        height: 60vh;
        width: 30vw;
        margin-top: 16.5%;
        margin-left: 15%;
        background-color: white;
    };

    

};

@media screen and (max-width: 1024px) {
    .columnA{
        height: 92vh;
        width: fit-content;
    };
   
    .topTitle{
        margin-left: 51%;
    };
    
    .topTitle2{
        margin-left: 70%;
        width: 100%;
    };
    
    .results{
        border: 1px solid black;
        box-shadow: 0px 3px 19px #00000041;
        height: 60vh;
        width: 35vw;
        margin-top: 22%;
        background-color: white;
    };

    #pre-container{
        border: 1px solid black;
        box-shadow: 0px 3px 19px #00000041;
        height: 60vh;
        width: 65vw;
        margin-left: 25%;
        margin-top: 10%;
        background-color: white;
    };

    #post-container{
        border: 1px solid black;
        box-shadow: 0px 3px 19px #00000041;
        height: 60vh;
        width: 35vw;
        margin-left: 15%;
        margin-top: 10%;
        background-color: white;
    };
    
    .activated{
        width: 350px;
        height: 200px;
        margin-left: 15%;
        margin-top: 5%;
        box-shadow: 0px 3px 19px #00000041;
    };
    
    .tableOn {
        margin-left: 13%;
        margin-top: 10%;
    };

    #message{
        margin-top: 5%;
        margin-left: 3%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 18px;
    };

    #countdown{
        font-size: 40pt;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        margin-left: 15%;
    };

    #onWay1{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: xx-large;
        margin-left: 5%;
        margin-top: 25%;
        margin-right: 5%;
    };

    #instructions{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: large;
        text-align: center;
    };

    #location{
        font-size: x-large;
        margin-left: 22.5%;
    };

    #departure{
        font-size: x-large;
        margin-left: 29%;
    };

    .title1{
        margin-left: 29%;
        font-size: x-large;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    };
    
    .title2{
        margin-left: 30%;
        font-size: x-large;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    };

    #submission{
        margin-top: 10%;
        margin-left: 32%;
        font-size: 2em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    };

    .weatherCharts{
        box-shadow: 0px 3px 19px #00000041;
        margin-right: 7.5%;
        margin-left: -5%;

    };

    #localPic{
        width: 80%;
        margin-left: 10%;
    };
};